@charset "UTF-8";

.hidden
{
	display: none;
}

#wrap{
	width:80%;
	margin: 0 auto;
	background-color: light-blue;	
}

#contactContent
{
	background-color: white;	
}

.boxHelper
{
	color: #fff;
	background-color:#000;
	text-align:center; 
}


.hidden
{
	display: none;
}

#mainPhoto {border:5px solid grey;padding: 0; margin-top: 60px;}
#allPhotos ul li { list-style-type: none; display: inline; padding:0; margin:0; }
#allPhotos ul { padding:0; margin:0; }
#allPhotos ul li img {padding:0; margin:10px; }
#allPhotos {background-color: grey;  border:5px solid grey; overflow: auto; overflow-y: hidden; -ms-overflow-y: hidden; white-space: nowrap; height:120px;
}

body
{
	background-color: #1C6BA0;	
}

div
{
		
}

.map-wrapper 
{ 
	width: 100%; height: 350px;
	border: 5px solid #03C; 
}

#distanceArea
{
	border:5px solid #03C;
	background-color: white;	
}

@media only screen and (min-width: 40.063em) { 
.logo-wrapper {
    position: relative;
  }
.logo-wrapper .logo {
    width: 140px;
    height:  92px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: -30px;
    margin-left: -6%;
  }
  
ul.right{
	padding-left: 5%;	
	}
	
  .top-bar-section ul.right li {
    float:  left;
	list-style:none;
	margin-right: 10px;
	
  }
ul.left{
	padding-right: 5%;	
	}
  .top-bar-section ul.left li {
    float:  right;
	list-style:none;
	margin-right:20px;
  }
li a{
	width:100px;
}
.top-bar{
	background-color: #2a585e;
}

#nav
{
	background-image: url(../images/background.png); 
}

#aboutNav ul
{
	
    margin: 0 auto;
    padding: 0;
	overflow:hidden;

}

#aboutNav li 
{
	
	list-style-type: none;
	diplay: inline;
	float: left;
	width: 180px;
	margin-left: 25px;
	text-align:center;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #2a585e;
	color: white;	
	border-radius: 20px;
}

#aboutNav a{
	color: white;
}

#aboutNav  
{
    width:60%;
	margin: 0 auto;
	padding-top: 30px;
	height: 15vh;
	
}

#lhb{
	margin-top: 5%;
	margin-bottom: -1%;
}

#lighthousePic
{
	height: 400px;
	margin: 0 auto;	
}

#historyPara1
{
	width: 800px;
	float: left;	
}

#SanctuaryAbout
{
	color: white;
	background-color: #081f22;
	margin-left: 40px;
	margin-right: 40px;
}


.history-nav
{
	color: white;
	background-color: #081f22;
	margin: 0 auto;
	width: 90%;
}

.aboutContent
{
	background-color: #081f22;
	color: white;
}

.arial-pic-width{
	width: 40%;
	margin: 0 auto;

}

#sancAbout p
{
	width: 800px;
	margin: 0 auto;
}

.align-top-margin{
	margin-top:5%;
}

.align-bottom-padding{
	padding-bottom:5%;
}

.row-width{
	
	margin: 0 auto;
	width: 60%;
}
.radius-style{
	border-radius: 10.5%;
	border: solid 1px black;
}

.icons {
	height: 80px;
	background-color: #2a585e;
	padding: 10px;
	border-radius: 60px;
}



#form {
	margin-top: 10%;
}

h4{
 background-color: #2a585e;
 width: 160px;
 border-radius: 25px;
 text-align:center;
 margin-top:-30px;
 margin-left:30px;
 padding:5px;
 
}

#details
{
	color: white;
	background-color: #081f22;	
	border: 2px solid;
    border-radius: 25px;
	padding: 10px;
}

#review
{
	color: white;
	background-color: #081f22;
	border: 2px solid;
    border-radius: 25px;
	padding: 10px;
}

#details label
{
 	color: white;	
}

#review label
{
 	color: white;	
}

#photoDesc
{
	background-color: white;
	padding: 10px;	
}
}